footer.footer
  - var year = (new Date().getFullYear())
  p &copy; #{year} 
    a(href='/')= site.name

  nav: ul
    each link in footer
      - var isCurrent = url == link.url ? 'current-page': '';
      li: a(class= isCurrent, href=link.url)= link.name
