header.header
  .logo
    a(href='/')= site.name

  .menu-toggle#menu
    .icon

  .menu
    ul
      each page in header
        - var isCurrent = url.match(page.url) ? 'current-page': '';
        li(class= isCurrent): a(href= page.url)= page.name
