// Global layout classes
.page
  center site

.container
  group()

article[role='main']
  padding-sides()

  +above(site + gutter)
    padding-sides 0

.page-header
  padding-rhythm 1
  text-align center

  h1
    margin-bottom 0

// the content (prose) should have a readable measure
section.content
  center tablet
  padding-rhythm 0 1


