// Google Font import
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,800,600')

// Stylus library import
@import axis
@import jeet
@import rupture

// Include Normalize
normalize-css()

// Local imports
@import settings
@import lib
@import templates

// Mixins that add CSS
border-box()
fluid-images()
