// Font stacks
open-sans = "Open Sans", "Helvetica Neue", Helvetica, sans-serif
garamond = "adobe-garamond-pro", "Garamond", Times New Roman, serif

font-stack = open-sans

// This sets the baseline grid
body-font-size = 1.15rem
body-line-height = 1.5
// This gives a boost to the size of the baseline grid for large screens
desktop-ratio = 1.07

// Breakpoints (http://jenius.github.io/rupture/)
mobile-cutoff = mobile = small = 28em
tablet-cutoff = tablet = medium = 40em
desktop-cutoff = desktop = large = 53em
scale = 0 small (small + ((medium - small) / 2)) medium (medium + ((large - medium) / 2)) large

// Grid Settings (http://jeet.gs/)
// gutter is a percentage for side padding on columns
// max-width is the maximum site width
jeet = {
  gutter: 3,
  max-width: 55em
}

// Useful Aliases for max width
site-max-width = max-site-width = jeet.max-width

// Alias for adding gutter as a percentage
// Useful in padding and margin declarations
g = gutter = (jeet.gutter)%
