// Font stacks
open-sans = "Open Sans", "Helvetica Neue", Helvetica, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
garamond = "adobe-garamond-pro", Times New Roman, serif
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
verdana = Verdana, Geneva, sans-serif

font-stack = open-sans

// This sets the baseline grid
body-font-size = 1.15rem
body-line-height = 1.5
// This gives a boost to the size of the baseline grid for large screens
desktop-ratio = 1.07

// Breakpoints (http://jenius.github.io/rupture/)
mobile-cutoff = mobile = small = 28em
tablet-cutoff = tablet = medium = 40em
desktop-cutoff = desktop = large = 53em
scale = 0 small (small + ((medium - small) / 2)) medium (medium + ((large - medium) / 2)) large

// Grid Settings (http://jeet.gs/)
// gutter is a percentage for side padding on columns
// max-width is the maximum site width
jeet = {
  gutter: 3,
  max-width: 60em
}

// Alias for adding gutter as a percentage
// Useful in padding and margin declarations
g = gutter = (jeet.gutter)%
