// Font stacks
open-sans = "Open Sans", "Helvetica Neue", Helvetica, sans-serif
garamond = "adobe-garamond-pro", "Garamond", Times New Roman, serif
font-stack = open-sans

// Grid Settings (https://github.com/corysimmons/lost)
// gutter can be any unit
// $gutter is used by Lost Grid
gutter = $gutter = g = 3%

// Set the baseline grid
body-font-size = 1rem
body-line-height = 1.5
// Give a boost to the size of the baseline grid for large screens
desktop-ratio = 1.08

// Breakpoints (http://jenius.github.io/rupture/)
mobile = rupture.mobile-cutoff = mobile-cutoff = 28rem
tablet = tablet-cutoff = 40rem
desktop = rupture.desktop-cutoff = desktop-cutoff = 53rem
site = rupture.hd-cutoff = site-max-width = max-site-width = max-width = 55rem
rupture.scale = 0 (mobile) (mobile + ((tablet - mobile) / 2)) (tablet) (desktop) (site)

// Some nice colors
// Greens
turqoise = #1abc9c
greenSea = #16a085
emerald = #2ecc71
nephritis = #27ae60
green = #4caf50
light-green = #8bc34a
lime = #cddc39

// Blues
river = #3498db
belize = #2980b9
asphalt = #34495e
midnight-blue = #2c3e50
blue = #2196f3
light-blue = #03a9f4
cyan = #00bcd4
teal = #009688

// Reds
alizarin = #e74c3c
pomegranate = #c0392b
red = #f44336

// Oranges
carrot = #e67e22
pumpkin = #d35400
dull-orange = #f39c12
orange = #ff9800
blood-orange = #ff5722
amber = #ffc107

// Yellows
sunflower = #f1c40f
yellow = #ffeb3b

// Purples + Pinks
amethyst = #9b59b6
plum = #8e44ad
purple = #9c27b0
deep-purple = #673ab7
pink = #e91e63
indigo = #3f51b5

// Browns
brown = #795548

// Greys
grey = #9e9e9e
gun-metal = #607d8b
asbestos = #7f8c8d
concrete = #95a5a6
silver = #bdc3c7

// Whites
clouds = #ecf0f1
paper = #efefef
