a.button, button.button, input[type='submit']
  display inline-block
  rhythm .5
  padding .5em 1em
  line-height 1.5
  background-color black + 12%
  border-radius .4em
  box-shadow inset rgba(black, .1) 0 -0.15em 0, inset rgba(white, .2) 0 0.15em 0, rgba(black, .3) 0 0.1em .3em
  color #fff
  text-shadow rgba(black, .2) 0 -.1em 0

  &:hover
    hover-gradient (black + 12%)

  &:active
    box-shadow rgba(white, .2) 0 .10em 0, inset rgba(black, .3) 0 .25em 1em

  svg
    display inline
    float left
    padding .20em .15em 0 0
    width base
    height base
    fill #fff

  &.icon
    position relative
    padding-left .9em

    .text
      display block
      float left
      margin-left .5em

  &.primary
    hover-gradient olive
    font-weight 600
    font-size 1.2em

  &.secondary
    @extends a.button.primary
    text-shadow rgba(white, .2) 0 -.1em 0
    hover-gradient silver (black + 25%)

  &.facebook
    hover-gradient #425c9e

  &.twitter
    hover-gradient #18aaec

  &.google
    hover-gradient #d64937

  &.pinterest
    hover-gradient #c70428

  &.github
    hover-gradient #3269a0

// Wrap multiple buttons next to each other in .buttons
.buttons
  .button
    margin-right .8rem

    &:last-child
      margin-right 0
