a.button, button.button, input[type='submit']
  display inline-block
  rhythm .5
  padding .5em 1em
  background-color black + 12%
  border-radius .4em
  box-shadow inset rgba(0,0,0,0.1) 0 -0.15em 0, inset rgba(255,255,255,0.2) 0 0.15em 0, rgba(0,0,0,0.3) 0 0.1em .3em
  color #fff
  text-shadow rgba(0,0,0,0.3) 0 -.1em 0

  &:hover
    color #fff
    hover-gradient (black + 12%)
    transition all .3s

  &:active
    box-shadow rgba(255,255,255,0.2) 0 .10em 0, inset rgba(0,0,0,0.3) 0 .25em 1em

  svg
    display inline
    float left
    padding .25em .15em .15em
    width base
    height base
    fill #fff

  &.icon
    position relative
    float left
    margin-right .8em
    padding-right .9em

    .text
      display block
      float left
      margin-left .5em

  &.primary
    hover-gradient olive
    padding .7em 1em
    font-weight 600
    font-size 1.2em

  &.secondary
    hover-gradient silver, (black + 45%)
    text-shadow none

  &.facebook
    hover-gradient #425c9e

  &.twitter
    hover-gradient #18aaec

  &.google
    hover-gradient #d64937

  &.pinterest
    hover-gradient #c70428

  &.github
    hover-gradient #3269a0
