.button
  display inline-block
  rhythm .5
  padding .5em 1em
  line-height 1.5
  border-radius .4em
  color white
  hover-gradient (black + 12%)
  text-shadow rgba(black, .2) 0 -.1em 0
  box-shadow inset rgba(black, .1) 0 -0.15em 0, inset rgba(white, .2) 0 0.15em 0, rgba(black, .3) 0 0.1em .3em
  transition background-position .15s

  &:active
    box-shadow rgba(white, .2) 0 .10em 0, inset rgba(black, .3) 0 .25em 1em

  svg
    display inline
    float left
    padding .20em .15em 0 0
    width base
    height base
    fill #fff

  &.icon
    position relative
    padding-left .9em

    .text
      display block
      float left
      margin-left .5em

  &.large
    font-size 1.2em
    font-weight 600

  &.primary
    @extends .button.large
    hover-gradient olive

  &.secondary
    @extends .button.primary
    color black + 25%
    hover-gradient silver
    text-shadow rgba(white, .2) 0 -.1em 0

  &.facebook
    hover-gradient #425c9e

  &.twitter
    hover-gradient #18aaec

  &.google
    hover-gradient #d64937

  &.pinterest
    hover-gradient #c70428

  &.github
    hover-gradient #3269a0

// Wrap multiple buttons next to each other in .buttons
.buttons
  .button
    +above(3)
      margin-right .8rem

      &:last-child
        margin-right 0
