.signup
  full-width()
  padding-vertical()
  background-color olive
  color white

  +above(desktop)
    padding-vertical(large-base)
  
  > div
    center tablet, gutter
    
    +above(tablet + gutter)
      padding-sides 0

  h2
    rhythm()
    font-size 2.4rem
    font-weight 800

  h3
    rhythm .5
    color inherit

  p
    color inherit
    font-size 1.2rem

  .button
    display inline-block
    font-size 1.2rem
    font-weight 600

.form
  background-color olive + 10%
  padding g
  transition .3s

  &.error
    background-color red

  p
    padding-bottom 0

form
  opacity 1
  max-height 30rem
  transition .5s

  &.submitted
    opacity 0
    max-height 0

.field
  rhythm .5

  +above(3)
    width (60% - g / 2)
    float left

    &:first-of-type
      margin-right g
      width (40% - g / 2)

  input
    padding .5em
    border solid 1px #bbb
    border-radius 5px
    font-size 1.2em
    line-height 1.5
    color black + 20%
    width 100%

    &.error
      color red

      &:focus
        outline-color yellow
