.promotion
  full-width()
  padding-vertical 2.5rem
  background-color black + 30%
  color white

  .content.container
    center tablet gutter
    text-align center

  h2
    font-weight 800

  p
    color inherit
    font-size 1.3rem

  .form
    center tablet

    +above(5)
      max-width 100%

  button
    display block
    margin-sides auto

    +above(5)
      column '1/4' 2%

  input, button
    +above(5)
      margin-bottom 0

  input:last-of-type
    rhythm .75

    +above(5)
      margin-bottom 0

  .name
    +above(5)
      column '1/4' 2%

  .email
    +above(5)
      column '2/4' 2%
  
  .info
    display block
    text-align center

    +above(5)
      float right
      margin-top .3rem
      column '1/4' 2%
      font-size .9em
      opacity .6
    