---
title: Front-End Web Design Tutorials
description: Learn how to use Stylus, Coffeescript and Jade for super fast front-end development. Deploy your site now!
---

extends ../../templates/page

block content
  .collection
    section.intro
      :markdown
        These days, learning to be a front-end designer can seem like quite a daunting task. Sure you could "technically" just learn HTML. But you'll want more. And as you pile more things on... well it can get complicated.

        Here, I try to simplify things and explain each part of the development process clearly. My process is opinionated but it works for me and I think it will work for you.

        Yes, we will use "preprocessor" languages to make our work simpler, faster, and dare I say... actually fun. I'll dispell some of the magic going on so that you will understand what we are doing each step of the way.

    section.pages
      each page in collections['/tutorials/'].pages
        article.article
          h2: a(href=page.url)= page.title
          p!= page.intro
          a(href=page.url) Read more...
