.post
  .page-header h1
    rhythm()

  .main .content
    // Article intro paragraph
    > p:first-of-type
      @extends $lead-paragraph

  nav
    padding-rhythm()

  .previous
    float left

  .next
    float right !important // force float if there's no previous link
    text-align right

  .comments
    margin-top base
