width = 580px
padding = 15px

link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

font-stack = "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
header-font-stack = font-stack

grey = #f6f6f6
primary-color = #348eda

border-radius = 3px
button-border-radius = 5px
