.last
  margin-bottom 0

.first
  margin-top 0

.align-center
  text-align center

.align-right
  text-align right

.align-left
  text-align left

.clear
  clear both

.vertical-top
  vertical-align top

.vertical-middle
  vertical-align middle

.vertical-bototm
  vertical-align bottom

.margin-vertical
  margin (padding * 2) 0

  &.large-bottom
    margin (padding * 2) 0 (padding * 4) !important

.grey
  color gray

.hr
  margin 0 0 (padding * 2) 0

// Pre-header text is displayed in certain clients as a preview but not shown when the user opens the email
.pre-header
  color transparent
  display none
  height 0
  max-height 0
  max-width 0
  opacity 0
  overflow hidden
  mso-hide all
  visibility hidden
  width 0
