---
title: Get in Touch
description: Fill out the contact form to reach the maintainer of Site Lightning.
---

extends ../templates/page

block vars
  - bodyClass = 'contact'

block content
  :markdown
    If you would like to discuss a new feature or contributions to the source code then open an issue in the [GitHub repo](http://github.com/abstracthat/sitelighting).

    For all other questions feel free to fill out the contact request form below...

  //- Contact Form mixin: email, redirect, email subject
  +contact-form('josh.bertrand@gmail.com', 'sitelightning.co/thanks/', 'Site Lightning')
  