---
title: Site Title
description: Site description goes here.
---

extends ../templates/page

block vars
  - bodyClass = 'home'

block page-header
  header.pitch
    :markdown
      # Site Pitch
      AIDA block.

    a.primary.button(href='#') Call to Action

block content
  :markdown
    Content here.
