---
title: "Go Faster &mdash; Rapid Website Development"
description: Site Lightning is the fast way to design and build a static website. Try it out now.
---

extends ../templates/page

block content
  include:markdown ../../readme.md
