extends ../templates/base

block vars
  - var title = "Site Lightning: Build a Static Site in Seconds";
  - var description = "Site Lightning is the fast way to design and build a static website. Try it out now.";

block body
  .container
    h1.logo: a(href='/') Site Lightning
    article
      include:markdown home.md
      p.replace This text is replaced by jQuery call in main.coffee
      p: a.button(href='/page') Go to This Page
