extends ../templates/base

block body
  .container
    header
      h1.logo Hello Everybody
      button#menu.button Open Menu
    .page
      nav.menu
        p Left Menu content
      article.content
        p Some more content
