extends ../templates/base
- var title = "Site Lightning: Build a Static Site in Seconds";
- var description = "Site Lightning is the fast way to design and build a static website. Try it out now.";

block body
  //- Probably you want some of this header stuff in a page template instead of repeated here.
  .container
    h1.logo Site Lightning
    article
      :markdown
        ## Hello From Markdown
        I'm writing [Markdown](http://daringfireball.net/projects/markdown/syntax).
        
        Ok, I'm finished. See that "smart" quote there.
        
        
