.home
  // The main pitch at the top
  .pitch
    rhythm 1.5
    padding-vertical 2rem
    full-width()
    text-align center
    background black + 30%
    color white

    p
      margin-sides auto
      max-width tablet
      font-size 1.3em
      color white

    .button
      display block

      +above(3)
        display inline-block
