// Global layout classes
.page
  center site

.container
  group()

.main
  padding-sides()

  +above(site + gutter)
    padding-sides 0

  // the content (prose) should have a readable measure
  .content
    center tablet
    padding-bottom base

.page-header
  padding-rhythm 1
  text-align center

  h1
    margin-bottom 0
