block vars
include components/index

doctype html
html(lang='en')
  head
    include partials/first-scripts

    // build:css /style.min.css
    each file in styles
      link(rel='stylesheet', href= file)
    // endbuild

    // build:js /script.min.js
    each file in scripts
      script(src= file)
    // endbuild

    title!= meta_title ? meta_title : title
    meta(name='description', content!= description)

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    include partials/open-graph

  body(class= bodyClass)
    block body
