extends base

block vars

block body
  //- Main Page Container
  .page
    include includes/header
    section.content
      header
        h1!= title
      article(role='main')
        block content
          != content
    block email
      include includes/email-signup
    block footer
      include includes/footer
