extends base

block vars

block body
  //- Main Page Container
  .page

    //- Header / Menu
    block header
      include partials/header

    //- The main content
    article(role='main')

      //- The page header for the main content
      block page-header
        header.page-header
          h1!= title

      //- the content
      section.content
        block content

          //- Markdown files get rendered here
          != contents

    block email
      +signup('07d877879d', 'Sign Up Now')
        :markdown
          ## Stay Up To Date on The Project
          Enter your name and email address and I'll let you know when there are important updates.

    block footer
      include partials/footer
