extends base

block vars

block body
  //- Main Page Container
  .page

    //- Main Site Header & Menu
    block header
      +site-header

    //- The main content
    article.main(role='main')
      //- Use `block main` if you don't want the header and section.content
      block main

        //- The page header for the main content
        header.page-header
          block page-header
            h1!= title

        //- the content (prose)
        section.content
          block content

            //- Markdown files get rendered here
            != contents

    //- Page Footer: promotion email optin form
    block page-footer
      section.promotion
        include ../content/_includes/promotion

    //- Main Site Footer
    block footer
      +site-footer
