extends base

block vars

block body
  //- Main Page Container
  .page

    //- Header / Menu
    block header
      include components/header

    //- Page content
    section.content

      block page-header
        header
          h1!= title

      //- the main article content
      article(role='main')
        block content

          //- Markdown files get rendered here
          != contents

    block email
      include components/email-signup

    block footer
      include components/footer
