extends page

block vars
  - bodyClass = 'post'

append page-header
  if date
    time(datetime= datetime) Written on #{date}

append content
  - var currentCollection = collections[collection].pages;
  - var collectionLength = currentCollection.length - 1;
  - var currentIndex = _.findIndex(currentCollection, {'url': url});
  - var next = currentIndex < collectionLength ? currentCollection[currentIndex + 1] : null;
  - var previous = currentIndex ? currentCollection[currentIndex - 1] : null;

  nav.container
    if previous
      .previous
        a(href= previous.url, title!= previous.title) &laquo; Previous Page

    if next
      .next
        a(href= next.url, title!= next.title) Next Page &raquo;

  unless no_comments
    if disqus
      .comments
        #disqus_thread
