golden = 1.618
minor-second = 1.067
major-second = 1.125
minor-third = 1.2
major-third = 1.25
perfect-fourth = 1.333
augmented-fourth = 1.414
perfect-fifth = 1.5
minor-sixth = 1.6
major-sixth = 1.667
minor-seventh = 1.778
major-seventh = 1.875
octave = 2
major-tenth = 2.5
major-eleventh = 2.667
major-twelfth = 3
double-octave = 4
fibonacci = fib = 1 2 3 5 8 13 21 34 55 89 144

modular-scale(scale, ratio = golden, baseline = base)
  base * (ratio ** scale)

golden-scale(scale, baseline = base)
  modular-scale(scale, golden, baseline)

fifth(scale, baseline = base)
  modular-scale(scale, perfect-fifth, baseline)
