// Set a specific ratio for background images and video iframe embeds.
ratio-box(ratio = 1/1)
  ratio = remove-unit(ratio)
  overflow hidden
  position relative

  // The container's height, as a percentage of the
  // container's width, is set by assigning
  // padding-top to a pseudo-element.
  &:before
    content ''
    display block
    height 0
    padding-top (1 / ratio) * 100%
