// Base Typography
html
  height 100%
  overflow-x hidden
  font-size 100%

body
  height 100%
  overflow-x hidden
  overflow-y scroll
  -webkit-overflow-scrolling touch
  group()
  font-size body-font-size
  line-height body-line-height
  font-family font-stack

  +above(desktop)
    font-size large-body-font-size
    line-height large-body-line-height

p, li, time
  color black + 20%

strong, b
  font-weight 600

p, ul, ol, pre, time
  rhythm()

// Lists
ul
  list-style-type square

li
  display list-item
  margin-left 1.3em

// Headers
h1
  rhythm()
  font-size 2.6rem
  line-height 1.2
  font-weight 800

  +above(desktop)
    font-size 4.5rem
    line-height 1

h2
  rhythm .25
  font-size 1.625rem
  line-height 1.2
  font-weight 600

  +above(mobile)
    font-size 2rem

  +above(desktop)
    font-size 2.25rem

h3
  rhythm .25
  font-size 1.375rem
  line-height 1.2
  font-weight 600
  color black + 20%

  +above(mobile)
    font-size 1.5rem

  +above(desktop)
    font-size 1.75rem

h4, h5, h6
  rhythm .25
  font-size 1.125rem
  line-height 1.4
  font-weight 600
  color black + 20%

  +above(desktop)
    font-size 1.125rem

// Links
a
  link blue 'darken'

// Blockquote
blockquote
  position relative
  rhythm()
  padding-rhythm()
  font-size 1.3rem
  line-height-rhythm()
  font-family georgia
  font-style italic
  text-align center

  &:before
    content ''
    position absolute
    left 25%
    top 0
    width 50%
    border-top 1px solid silver

  &:after
    content ''
    position absolute
    left 25%
    bottom 0
    width 50%
    border-bottom 1px solid silver

  p
    margin 0

// Inline Code and Code Blocks
pre
  overflow auto
  background black + 7%
  padding-vertical()
  padding-sides()

  +above(3)
    padding 0

  > code
    display block
    font-size .95em
    background none
    color white - 15%
    white-space pre
    word-break normal
    font-family Menlo, Monaco, monospace

    +above(mobile)
      margin 0
      padding g

    +above(3)
      word-break normal

code
  padding 0 6px
  color inherit
  background-color white - 5%
  border-radius 3px
  font-size .85em
  word-break break-all
  font-family Menlo, Monaco, monospace
  display inline-block

// Hyphenation and Line/Word Breaking
p, li, span, small, a
  word-wrap break-word // Break long urls
  word-break break-word // webkit
  hyphens auto // none, auto, <number>
  -webkit-hyphenate-before 2
  -webkit-hyphenate-after 3
  hyphenate-lines 3

hr
  border-bottom 2px solid silver
  rhythm 1 1
