// Some basic styles you can delete

body
  background-color white - 20%

.container
  center desktop
  background-color white

  article
    padding 0 g 2rem g
    h2, h3, h4, h5, h6
      text-align center
      +above(tablet)
        text-align left


h1.logo
  background url('/images/lightning.jpg')
  background-size 100%
  color white
  max-width desktop
  text-align center
  margin 0 auto
  padding 3rem 3%

  a
    color white

  +above(4)
    padding-top 6rem
    padding-bottom 6rem

p
  color black + 20%

.button
  glossy-button olive large
  font-weight 400
