// button styles
a.button, button.button
  display inline-block
  color #fff
  background-color black + 12%
  border-radius .4em
  text-shadow rgba(0,0,0,0.3) 0 -.1em 0
  box-shadow inset rgba(0,0,0,0.1) 0 -0.15em 0, inset rgba(255,255,255,0.2) 0 0.15em 0, rgba(0,0,0,0.3) 0 0.1em .3em
  rhythm .5
  padding .5em .5em .4em .5em

  &:hover
    color #fff
    hover-gradient (black + 12%)
    transition all .3s

  &:active
    box-shadow rgba(255,255,255,0.2) 0 .10em 0, inset rgba(0,0,0,0.3) 0 .25em 1em

  svg
    display block
    float left
    padding 0.2em
    width base
    height base
    fill #fff

  &.icon
    position relative
    float left
    margin-right .8em
    padding-right .9em

    .text
      display block
      float left
      margin-left .5em

  &.primary
    hover-gradient olive

  &.secondary
    hover-gradient silver, (black + 45%)
    text-shadow none

  &.facebook
    hover-gradient #425c9e

  &.twitter
    hover-gradient #18aaec

  &.google
    hover-gradient #d64937

  &.pinterest
    hover-gradient #c70428

  &.github
    hover-gradient #3269a0
