.collection

  .intro
    border-bottom 2px dotted silver
    border-top @border-bottom
    padding-top base
    rhythm()

  .article
    rhythm()
    padding-bottom base
    border-bottom 2px dotted silver

    &:last-child
      border-bottom none
      padding-bottom 0

    h2
      @extends h3

    p
      rhythm .5
    a
      link olive

    time
      color gray
      font-style italic