.collection

  .intro
    rhythm()
    border-bottom 2px dotted silver
    
    +above(4)
      padding-top base
      border-top @border-bottom

  .article
    rhythm()
    padding-bottom base
    border-bottom 2px dotted silver

    &:last-child
      border-bottom none
      padding-bottom 0

    h2
      @extends h3

    p
      rhythm .5

    a
      link olive
