.contact
  margin-bottom base
  textarea
    input()
    display block
    width 100%
    font-size 1.2em
    min-height 12em
    margin-bottom (base / 2)
  input
    margin-bottom (base / 2)
  button
    button black
    font-size 1.2em