.signup
  full-width()
  padding-vertical()
  background-color olive
  color white

  +above(desktop)
    padding-vertical(large-base)
  
  > div
    center medium, g
    
    +above(medium + g)
      sides 0

  h2
    font-rhythm 2.4
    margin-bottom base
    font-weight 800

  h3
    color inherit

  p
    color inherit
    font-rhythm 1.2

  .button
    display inline-block
    font-rhythm 1.2
    font-weight 600

.form
  background-color olive + 10%
  padding g
  transition .3s

  &.error
    background-color red

  p
    padding-bottom 0

form
  opacity 1
  max-height 30rem
  transition .5s

  &.submitted
    opacity 0
    max-height 0

.field
  margin-bottom (base / 2)

  +above(3)
    width (60% - g / 2)
    float left

    &:first-of-type
      margin-right g
      width (40% - g / 2)

input
  padding .5em
  border solid 1px #bbb
  border-radius 5px
  font-size 1.2em
  line-height 1.5
  color black + 20%
  width 100%

  &.error
    color red

    &:focus
      outline-color yellow
