.signup
  background-color olive
  color white
  padding-vertical(base * 2)
  
  > div
    center medium
    sides()

    +above(medium + g)
      sides 0

  h2
    font-rhythm 2.4
    margin-bottom base
    font-weight 800

  h3
    color white

  p
    color white
    font-rhythm 1.2

  .button
    button black
    font-rhythm 1.2
    font-weight 600

input
  input()
  margin-bottom (base / 2)
  font-size 1.2em
  line-height 1.5

  +above(3)
    margin-right g
    margin-top base
