.footer
  background-color black
  sides()
  padding-vertical (golden)rem
  text-align center

  p
    color teal - 15%
    margin-bottom (base / golden)rem

    +above(3)
      margin-bottom (1 / golden)rem

    a
      link teal - 15%

  ul
    list-style none
    margin-sides auto
    margin-bottom 0

    li
      display inline

      a
        link teal - 15%
