.page
  center site

.main
  padding-sides()
  padding-rhythm 0 1

  +above(site + gutter)
    padding-sides 0

  // the content (prose) should have a readable measure
  .content
    center tablet

.page-header
  padding-rhythm 1.5
  text-align center

  h1
    margin-bottom 0
