mixin site-header
  header.site-header
    a.logo(href='/')!= site.name

    if header
      .toggle#menuToggle: .icon

      .menu
        ul
          each page in header
            - var isCurrentPage = url.match(page.url) ? 'current-page': '';
            li(class= isCurrentPage): a(href= page.url)!= page.title
