mixin site-footer
  footer.site-footer
    p &copy; #{new Date().getFullYear()} 
      a(href='/')= site.name

    if footer
      nav: ul
        each page in footer
          - var isCurrentPage = url.match(page.url) ? 'current-page': '';
          li: a(class= isCurrentPage, href=page.url)!= page.title
