// Fluid Images

fluid-images()
  img
    max-width 100%
    height auto
    -ms-interpolation-mode bicubic
    display block
    vertical-align middle

// Border Box everything

border-box()
  html
    box-sizing border-box

  *, *:before, *:after
    box-sizing inherit
