// Padding, Margin Sides, Vertical
// A shortcut for padding-left, padding-right
// margin-left, margin-right
// padding-top, padding-bottom
// margin-top, margin-bottom
// Pass 1 arg for same value for both or 2 args as left,right or top,bottom
// Defaults to g for sides and base/2 for vertical value
padding-sides(left = g, right = left)
  padding-left left
  padding-right right

// shorthand alias
sides = padding-sides

padding-vertical(top = (base / 2), bottom = top)
  padding-top top
  padding-bottom bottom

// pad sides by gutter, top/bottom by base and mq for large
pad()
  padding-sides()
  padding-vertical()

  +above(4)
    padding-vertical (large-base / 2)

margin-sides(left = g, right = left)
  margin-left left
  margin-right right

margin-vertical(top = (base / 2), bottom = top)
  margin-top top
  margin-bottom bottom

// Set a specific ratio for background images and video iframe embeds.
ratio-box(ratio = 1/1)
  ratio = remove-unit(ratio)
  overflow hidden
  position relative

  // The container's height, as a percentage of the
  // container's width, is set by assigning
  // padding-top to a pseudo-element.
  &:before
    content ""
    display block
    height 0
    padding-top (1 / ratio) * 100%

// Collapse top (or left) margin of first child and bottom (or right) margin of second child.
collapse-children(direction = vertical)
  > :first-child
    if direction is vertical
      margin-top 0
    else
      margin-left 0
  > :last-child
    if direction is vertical
      margin-bottom 0
    else
      margin-right 0

// use negative margins to create background that is full-window width
full-width()
  margin-left -9999rem
  margin-right -9999rem
  padding-left 9999rem
  padding-right 9999rem

// setup placeholder for extending
$full-width
  full-width()
