/*
----------------------------------------------------------------
  # Parallax
    http://keithclark.co.uk/articles/pure-css-parallax-websites/
    https://raw.githubusercontent.com/sergiofontes/parallax-for-sass/master/parallax.scss
----------------------------------------------------------------
*/

//  body                  -
//    .parallax           - $perspective (the depth of the layout).
//      .parallax-group   - The relative container; sets the height.
//        .parallax-layer - Transforms the layer according to a depth position in a tridimensional level; 
//                          The tridimensional level must be an interger number of $z-levels.
//                          Sets the top position from it's parent.```

// ## Variables
//---------------

$perspective = 300px
// It must be an odd number because of middle number, which is at the zero depth level.
$z-levels = 5
// Cannot be greater than `$perspective`.
$z-depth = 180px

// ## Parallax Container Mixin
//-----------

parallax-container(mobile = false)
  perspective $perspective
  -webkit-backface-visibility hidden
  backface-visibility hidden
  height 1000px
  height 100vh
  overflow-x hidden
  overflow-y auto
  min-width 1064px // Prevents layout from being overflowed.
  width 100%
  z-index 1

  // Allows smooth scrolling on mobile devices but disables parallax effects.
  if mobile
    -webkit-overflow-scrolling touch

// Parallax group class to extend
// Each `.parallax-group` must have a fixed height. Watch out for dynamic heights.
$parallax-group
  position relative
  height 1000px
  transform-style preserve-3d


// Parallax Layer Mixin

parallax-layer(depth, layer-top = 0)
  $part = ($z-depth * 2) / ($z-levels - 1)
  $depth = - $z-depth + ($part * (depth - 1))
  $scale = 1 + ($depth * -1) / $perspective
  transform translate3d(0,0,$depth) scale($scale)
  transform-origin center center
  z-index depth
  position absolute
  top 0
  right 0
  bottom 0
  left 0

// Debug Mixin
// Rotates each group on y axis. Apply under group class

debug-parallax()
  transform translate3d(700px,0,-800px) rotateY(30deg)

// Demo

.parallax
  parallax-init()

.parallax-group
  @extends $parallax-group
  debug-parallax()

.parallax-layer-front-five,
.parallax-layer-five
  parallax-layer(5)

.parallax-layer-front-four,
.parallax-layer-four
  parallax-layer(4)
}

.parallax-layer-base,
.parallax-layer-three
  parallax-layer(3)

.parallax-layer-back-two,
.parallax-layer-two
  parallax-layer(2)

.parallax-layer-back-one,
.parallax-layer-one
  parallax-layer(1)

// ## IE Fix
//------------

html[class*="ie"]
  body
    .parallax
      perspective none
      height auto

      .parallax-group
        transform-style none

        .parallax-layer-front-five,
        .parallax-layer-five,
        .parallax-layer-front-four,
        .parallax-layer-four,
        .parallax-layer-base,
        .parallax-layer-three,
        .parallax-layer-back-two,
        .parallax-layer-two,
        .parallax-layer-back-one,
        .parallax-layer-one
          -ms-transform translate3d(0,0,0) scale(1) !important
          transform translate3d(0,0,0) scale(1) !important
