// Browser Reset
// An opinionated and customized Normalize alternative
// use border-box for everything
// typography reset + font smoothing
// fluid images, videos, embeds
// skips normalizing some uncommonly used elements:
//  sub, fieldset, legend, small, mark, dfn, b, audio, abbr, template, progress,
//  hgroup, kbd, samp, code

html
  box-sizing border-box
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-tap-highlight-color transparent

*, *:before, *:after
  box-sizing inherit

body
  margin 0

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary
  display block

h1,
h2,
h3,
h4,
h5,
h6
  text-rendering optimizeLegibility

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
figure,
button
  margin 0
  padding 0

li
  display block
  font-size inherit

p
  font-size inherit

strong
  font-weight bold

sup
  position relative
  top -.5rem
  font-size 65%
  line-height 0
  vertical-align baseline

input,
optgroup,
select,
textarea
  color inherit
  font inherit
  margin 0

textarea
  overflow auto

input
  line-height normal

  &[type="checkbox"],
  &[type="radio"]
    padding 0

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button
    height auto

  &[type="search"]
    -webkit-appearance textfield

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration
      -webkit-appearance none

[hidden]
  display none

a,
button
  font inherit
  color inherit

a
  text-decoration none
  background-color transparent

  &:active, &:hover, &:focus
    outline 0

button
  overflow visible
  border 0
  letter-spacing inherit
  background none
  cursor pointer
  -webkit-font-smoothing inherit

  &:focus
    outline 0

::-moz-focus-inner
  padding 0
  border 0

button,
select
  text-transform none

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance button
  cursor pointer

button[disabled],
html input[disabled]
  cursor default

// makes hr ready for your styles
hr
  border none
  margin 0
  height 0

pre
  overflow auto

table
  border-collapse collapse
  border-spacing 0

td,
th
  padding 0

// fluid width images, videos, iframes
img,
video,
iframe
  max-width 100%
  height auto
  border 0
  -ms-interpolation-mode bicubic
  display block

svg:not(:root)
  overflow hidden
