// # Typography

// ## Base Body

body
  font-family font-stack
  font-size 1rem

  +above(3)
    font-size 1.1rem

p
  line-height 1.8
  margin 0
  padding .75rem 0

// ## Headings

h1
  font-size 2rem
  line-height 1.1
  margin 0
  padding 1rem auto .75rem

  +above(mobile)
    font-size 3.1rem
    padding-bottom .85rem

  +above(desktop)
    font-size 4rem
    padding-bottom 1rem

h2
  font-size 1.7rem
  line-height 1.3
  margin 0
  padding-top 2rem
  padding-bottom 0

  +above(mobile)
    font-size 2.2rem

  +above(desktop)
    font-size 2.5rem

h3
  font-size 1.5rem
  line-height 1.3
  font-weight normal
  margin 0
  padding-top 1.5rem
  padding-bottom 0

  +above(mobile)
    font-size 1.8rem

  +above(desktop)
    font-size 2rem

h4
  font-size 1.3rem
  margin 0
  padding-top .9rem
  padding-bottom 0
  font-weight normal

  +above(mobile)
    font-size 1.8rem
    padding-top .9rem

  +above(desktop)
    font-size 2rem
    padding-top .9rem

h5
  font-size 1rem
  margin 0
  font-weight normal

  +above(mobile)
    font-size 1.1rem

  +above(desktop)
    font-size 1.3rem

h6
  font-size 0.9rem
  margin 0

// ## Lists

ul
  padding 0.5rem 0.94rem .25rem
  margin 0

  li
    list-style-type disc
    padding 0.125rem
    line-height 1.6

ol
  margin 0.32rem 0 .5rem 0.5rem
  padding-left 1rem

  li
    list-style-type decimal
    padding 0.125rem
    line-height 1.6

// ## Links

a
  color blue
  text-decoration none
  transition()

  &:hover
    color darken(@color, 25%)

  &:visited
    opacity .8

// ## Strong, Italic and Small

b, strong
  font-weight bold

i, em
  font-style italic

small
  font-size 55%
  opacity .6
  font-weight normal

fieldset
  border none

// ## Blockquotes

blockquote
  margin 1.3rem -3.25%
  padding (g)%
  background-color content-bg-color - 8%
  border-top 4px solid color1
  group()
  position relative

  +above(mobile)
    border-top none
    border-left 10px solid color1
    border-radius 3px
    margin 1.3rem 0

  &:before
    color lighten(black, 85%)
    content open-quote
    font-family garamond
    font-style italic
    font-weight bold
    font-size 10rem
    line-height 0
    padding 4rem 0 0
    position absolute
    left 0
    top 0
    z-index 1

    +above(mobile)
      top 1.5rem
      left (g)%

  a
    color color1

  > p
    color lighten(black, 25%)
    position relative
    font-style italic
    z-index 3

    +above(mobile)
      font-size 1.25rem

    > cite, > footer, > figcaption
      color color1
      margin-top 1rem
      display inline-block

      &:before
        content '\2014'
        margin-right .5rem

// ## Inline Code and Code Blocks

pre > code
  color black + 25%
  display block
  padding 1.5rem (g)%
  margin 0 (g)%
  background-color content-bg-color - 8%
  white-space pre-wrap
  word-break break-all
  font-family Menlo, Monaco, monospace
  font-size .95rem
  line-height 160%

  +above(mobile)
    border 1px solid black + 75%
    border-radius 3px
    font-size 1rem
    padding (g)%
    margin 0

code
  padding 3px 4px
  color inherit
  background-color content-bg-color - 8%
  border-radius 3px
  font-family Menlo, Monaco, monospace
  display inline-block

pre + h2, pre + h3
  margin-top 2.4rem

h3 + pre
  margin-top 1.4rem

// ## Hyphenation and Line/Word Breaking

p, li, span, small, a
  word-wrap break-word // Break long urls
  word-break break-word // webkit
  hyphens auto // none, auto, <number>
  -webkit-hyphenate-before 2
  -webkit-hyphenate-after 3
  hyphenate-lines 3
