---
title: Documentation
description: Learn how to use Site Lightning from the structure to adding libraries and building your own style guide.
---

extends ../../templates/collection

prepend content
  section.intro
    :markdown
      Site Lightining is mostly just scaffolding plus a handy Gulp file. Feel free to change whatever you want to suit your workflow. Here's how I have it set up. **Note** that this is a work in progress so the docs are a little thin presently.